<div class="jumbotron">
  <h1 class="title">100K Offer</h1>
  <p class="slogan">!00K Offer 是一个提供100K薪水工作机会的求职网站
  <br>
  我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
  <br>
  凭借自己的努力和天份也会变 Winner
  </p>
  <p class="lead"><a class="btn btn-lg btn-info" href="/jobs">马上行动</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fc5fq6grebj303k03kmx0.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fc5fsuzh0fj303k03kmwx.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fc5ful2w5oj303k03ka9u.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
